*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
.DS_Store
CollectionViewSample.xcodeproj/xcuserdata/markfour.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
